@model GuessTheAnimal.Models.AnimalDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnimalDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Facts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FactId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
